
<div class="main-content">
  <main class="movie-details" *ngIf="movie">
    <h1 class="movie-title">{{movie.moviename}}</h1>
    <div class="image-wrapper" [ngClass]="{'image-loaded': imageLoaded}">
      <img [src]="movie.bannerurl" alt="Movie Banner" class="movie-banner" (load)="onImageLoad()">
    </div>
    
    <!-- Movie details section -->
    <div class="flex flex-row justify-between bg-slate-100 rounded-lg p-10 imdb-r">
      <!-- IMDb Rating -->
      <div class="flex items-center">
        <!-- Star Ratings -->
        <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>
        <!-- Repeat for all 5 stars -->
        <p class="ms-1 text-sm font-medium text-gray-800">{{movie.imdbRating}}</p>
      </div>
  
      <div class="flex items-center">
        <p class="text-sm font-extrabold text-gray-800 dark:text-gray-400">Release Year:</p>
        <p class="ms-2 text-sm font-medium text-gray-800 dark:text-gray-200">{{movie.year}}</p>
      </div>
  
      <div class="flex flex-col space-y-2">
        <div class="flex items-center">
          <p class="text-sm text-gray-800">
            <span class="font-bold">Movie Timeline: </span>{{movie.timeline}}</p>
        </div>
      </div>
    </div>

    <h1 class="text-start font-bold mt-4 text-2xl">Story line</h1>
    <p class="movie-description">{{movie.description}}</p>
    
    <h1 class="text-start font-bold mt-4 text-2xl">ScreenShots</h1>
    <div class="shot-wrapper" [ngClass]="{'image-loaded': imageLoaded}">
      <img [src]="movie.screenshot1" alt="Movie ScreenShot" class="movie-banner" (load)="onImageLoad()">
    </div>
    <div class="shot-wrapper" [ngClass]="{'image-loaded': imageLoaded}">
      <img [src]="movie.screenshot2" alt="Movie ScreenShot" class="movie-banner" (load)="onImageLoad()">
    </div>
    <div class="shot-wrapper" [ngClass]="{'image-loaded': imageLoaded}">
      <img [src]="movie.screenshot3" alt="Movie ScreenShot" class="movie-banner" (load)="onImageLoad()">
    </div>

    <p class="py-3 px-10 rounded-xl bg-cyan-500 mx-auto text-white text-center font-serif font-bold mt-5 select-none">You can watch movie on any of below servers</p>

    <!-- Video Server Tabs -->
    <div class="center overflow-y-auto flex flex-col justify-center mx-auto with">
      <div class="flex justify-center space-x-4 mb-4">
        <button
          *ngFor="let server of videoServers"
          (click)="setActiveTab(server.id)"
          [class.bg-cyan-500]="activeTab === server.id"
          [class.text-white]="activeTab === server.id"
          [class.bg-gray-200]="activeTab !== server.id"
          [class.text-gray-700]="activeTab !== server.id"
          class="px-10 py-3 rounded hover:bg-gray-300"
        >
          {{ server.name }}
        </button>
      </div>

      <ng-container *ngFor="let server of videoServers">
        <div *ngIf="activeTab === server.id">
          <h1 class="text-center font-bold mt-5 text-2xl"></h1>
          <div class="mx-auto mt-3 w-full">
            <iframe [src]="server.url" allowfullscreen="true" class="w-full h-[500px] md:h-[530px]"></iframe>
            <h3 *ngIf="server.note" class="text-red-700 font-serif font-bold text-center mt-1">{{ server.note }}</h3>
          </div>
        </div>
      </ng-container>
    </div>

    <p class="highlighted-text mt-5 select-none">Wait 10 second for loading server , If the servers didn't load Please refresh the page!</p>

    <a [href]="movie.link" target="_blank" class="Download-button">
      <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
        <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z" fill="white"></path>
      </svg>
      <span>Download</span>
    </a>

    <p class="highlighted-text-1 select-none">Please recommend this free website to your friends and family its a safe website to watch online animation movies only , Thankyou </p>
  </main>
  
    <aside class="sidebar">
      <!-- <div class="ad-box1">
  
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/burger-banner-display-ads-design-template-de3bb854b3eb64b3b9ca7144ce05b142_screen.jpg?ts=1644218341" alt="Ad 1">
      </div>
      <div class="ad-box2">
  
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/burger-banner-display-ads-design-template-de3bb854b3eb64b3b9ca7144ce05b142_screen.jpg?ts=1644218341" alt="Ad 2">
      </div>
      -->
    </aside>
  </div>
  <footer routerLink="/terms" class="flex justify-end items-center">
    <button class=" text-cyan-500  py-3 px-3 rounded">
        Terms and services
    </button>
</footer>