
.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .movie-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .movie-banner {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-description {
    font-weight: bold;
  }
  
  .Download-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    background: rgb(6, 124, 124);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    
  }
  
  .Download-button svg {
    margin-right: 8px;
    width: 25px;
  }
  
  .Download-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
  }
  
  .Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
  }
  
  .Download-button::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
  }
  
  .Download-button::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
  }
  
  .Download-button:hover::before,
  .Download-button:hover::after {
    height: 60%;
  }
  
  
  
  
  
  
  .highlighted-text {
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px ;
    border-radius: 10px;
    font-size: 16px;
    background: black;
  }
  
  .highlighted-text-1{
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px ;
    border-radius: 10px;
    font-size: 16px;
    background: red;
  } 
  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 20px;
    padding-top: 50px; */
  }
  
  .ad-box {
    
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(58, 50, 50, 0.1);
    padding: 5px;
    text-align: center;
    justify-content: center;
  }
  
  .ad-box img {
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
  }
  
  @media (max-width: 767px) {
    .imdb-r{
      display: flex;
      gap: 20px;
      flex-direction: column;
    }
  
    .image-wrapper {
      position: relative;
      width: 100%;
      height: 100px;
      background-color: #f0f0f0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.5s ease-in-out;
    }
  
    .main-content {
      flex-direction: column-reverse;
  
    }
  
    .sidebar {
      display: flex;
      flex-direction: row;
    }
  }
  
  
  
  
  .image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
  }
  
  .shot-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
  }
  .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
  }
  
  .image-wrapper.image-loaded {
    box-shadow: none;
  }
  
  .image-wrapper.image-loaded img {
    opacity: 1; 
  }
  